.container
  h1 Chronological Site Map Template
  ul.nav.nav-pills
    li(role='presentation')
      a(href='#sec1') Section 1
    li(role='presentation')
      a(href='#sec2') Section 2
    li(role='presentation')
      a(href='#sec3') Section 3
    li(role='presentation')
      a(href='#sec4') Section 4
  section#sec1
    h2 Section 1
    .row
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
  section#sec2
    h2 Section 2
    .row
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
      .col-md-3
        ul
  section#sec3
    h2 Section 3
    .row
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
  section#sec4
    h2 Section 4
    .row
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
          li
            a(href='#') Clients
          li
            a(href='#') Contact Us
      .col-md-3
        ul
          li
            a(href='#') Home
          li
            a(href='#') About
// /container
